body {
    background: #0068aa;
    margin: 30px 50px;
}

.title {
    font-size: 50px;
}

.site {
    background: #ffffff;
    padding: 10px;
}

.site ul.posts {
    list-style: none;
    padding-left: 0;
}